<div>
  <div class="home-orbit-container">
    <ul class="home-orbit" data-orbit>
      <li>
        <img src="/assets/img/generic/carousel-1.jpg" />
      </li>
      <li>
        <img src="/assets/img/generic/carousel-2.jpg" />
      </li>
      <li>
        <img src="/assets/img/generic/carousel-3.jpg" />
      </li>
    </ul>
  </div>
  <div class="home-about">
    <div class="row">
      <div class="columns small-12 medium-6 large-4">
        <div class="card">
          <a href="/playdates">
            <div class="card-section">
              <h3>Find Local Playdates</h3>
            </div>
            <img src="/assets/img/generic/card-1.jpg">
          </a>
          <div class="card-section">
            <p>
              Kids bored? Make a playdate for your kid to meet other kids.
              Either create your own or attend an existing playdate.
            </p>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-6 large-4">
        <div class="card">
          <a href="/users">
            <div class="card-section">
              <h3>Meet Other Parents</h3>
            </div>
            <img src="/assets/img/generic/card-2.jpg">
          </a>
          <div class="card-section">
            <p>
              Looking to build friendships with other parents? Find other parents
              with similar interests and with kids the same age as yours.
            </p>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-6 large-4">
        <div class="card">
          <a href="/users/sign_up">
            <div class="card-section">
              <h3>Register Now</h3>
            </div>
            <img src="/assets/img/generic/card-3.jpg">
          </a>
          <div class="card-section">
            <p>
              Create a profile today and get started meeting local parents and
              attending local playdates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
