.playdate-box {
  border: 1px solid #E6E7E9;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  background-color: #F2F7F6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.playdate-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.playdate-name {
  margin-bottom: 0.5em;
}

.playdate-name h3 {
  color: #01B51E;
  font-weight: bold;
}

.playdate-name a {
  text-decoration: none;
}

.playdate-name a:hover {
  text-decoration: underline;
}

.playdate-location, .playdate-time, .playdate-desc {
  margin: 0.5em 0;
}

.profile-photo-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #FDC809;
}
