.profile-box {
  background-color: white;
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
}

.question-list {
  padding: 1rem 10rem;
  color: grey;
  border：2px solid black;
}
